@import url(fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.5vh;
  @media screen and (max-aspect-ratio: 0.5) {
    font-size: 1.185vh;
  }
}

body {
  color: #ffffff;
  width: 100%;
  height: 100vh;
  background-size: 100% 100vh;
  background-image: url(/img/bg@2x.jpg);
  @media (max-height: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    background-image: url(/img/bgFor8plus.jpg);
  }
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    background-image: url(/img/bg@3x.jpg);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.footer {
  font-family: "SF Pro Display";
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  text-wrap: nowrap;
  width: 26.2rem;
  height: 1.5rem;
  line-height: 1.49rem;
  font-size: 1.25rem;
  letter-spacing: 0.058rem;
  opacity: 0.5;
  margin-bottom: 1.05rem;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin-bottom: 3.1rem;
  }
}

.footer_item {
  max-width: 33%;
}

.footer_item:not(:last-child) {
  margin-right: 0.5rem;
}

.title {
  font-family: "SF Pro Bold";
  font-size: 4.2rem;
  text-align: center;
  font-weight: 860;
  line-height: 4.6rem;
}

.main-content {
  width: 32.7rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    width: 34.2rem;
  }
}

.cross-wrapper {
  margin-top: 3.7rem;
  flex-grow: 1;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin-top: 7.2rem;
  }
}

.cross {
  width: 1.2rem;
}

.images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4.04rem 0;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin: 4.07rem 0 4.97rem 0;
  }
}

#img1 {
  background-image: url(/img/f1@2x.png);
  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url(/img/f1@3x.png);
  }
}
#img2 {
  background-image: url(/img/f2@2x.png);
  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url(/img/f2@3x.png);
  }
}
#img3 {
  background-image: url(/img/f3@2x.png);
  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url(/img/f3@3x.png);
  }
}

.image {
  font-family: "SF Pro";
  background-size: 10.4rem 13.8rem;
  width: 10.4rem;
  height: 13.8rem;
  display: grid;
  align-items: end;
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 1.08rem 0.72rem;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.8rem;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin-bottom: 4.4rem;
  }
}

.action {
  height: 5.6rem;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #ffffff;
  background-color: #ffffff;
  position: relative;
}

@media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .actions > .action:nth-child(3) {
    margin-top: 0.8rem;
  }
}

.offer {
  background-color: #ffffff1a;
  border: none;
  border: 0.1rem solid transparent;
}

.isActive {
  padding: 0rem;
  background-color: #ffffff4d;
  border-color: #ffffff;
}

.button-continue {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 590;
  color: #070b33;
}

.action-content {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-family: "SF Pro Display";
  text-wrap: nowrap;
}

.right-block {
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem;
  width: 15.5rem;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    width: 16.8rem;
  }
}

.label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.52rem;
  border-radius: 10px;
  width: 11.9rem;
  height: 2rem;
  color: #141131;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  transform: translate(+155%, -50%);
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    transform: translate(+170%, -50%);
  }
}

.offer-price {
  font-family: "SF Pro Display";
  opacity: 0.7;
}

.offer-title {
  font-family: "SF Pro Display Bold";
  font-weight: 600;
  height: 1.9rem;
}

.actions > .action:nth-child(1) > .action-content > .left-block {
  margin-top: 0.1rem;
  @media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin-top: 0.2rem;
  }
}
